.tranding-destination .my-card,
.my-other-card {
  -webkit-box-shadow: 0px 0px 12px 1px rgba(66, 68, 90, 0.16);
  box-shadow: 0px 0px 12px 1px rgba(66, 68, 90, 0.16);
  -moz-box-shadow: 0px 0px 12px 1px rgba(66, 68, 90, 0.16);
  border-radius: 10px;
  height: 20rem;
}

.tranding-destination .city-name {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: -12rem;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .tranding-destination .col-12 {
    margin-top: 10px;
  }
}
