.category-list {
  margin-top: 100px;
}

.category-list .custom-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list .custom-ul li:last-child {
  border-bottom: none;
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .category-col {
    margin-right: -40px;
  }
}

.amenities .horizontal-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.amenities .horizontal-list li {
  flex-basis: calc(20% - 10px);
  margin: 5px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
}
