.hotel-image-gallery .slider {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 100;
}

.hotel-image-gallery .slider-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel-image-gallery .slider-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.hotel-image-gallery .close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: black;
}
