.explore .my-card {
  -webkit-box-shadow: 0px 0px 12px 1px rgba(66, 68, 90, 0.16);
  box-shadow: 0px 0px 12px 1px rgba(66, 68, 90, 0.16);
  -moz-box-shadow: 0px 0px 12px 1px rgba(66, 68, 90, 0.16);
  border-radius: 10px;
  height: 10rem;
}

.explore span {
  font-weight: bold;
}
