@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}

.custom-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.arrow-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  z-index: 2;
}

.arrow-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  z-index: 2;
}

.arrow-prev,
.arrow-next {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
}
